body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: url('../Images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    flex-wrap: wrap;
}
.navbar .logo img {
    height: 40px;
}
.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    padding-right: 30px;
}
.nav-links li {
    margin-left: 15px;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #ffcc00;
}
.search-box{
    flex:1;
    display: flex;
    justify-content: center;
    min-width:200px;
}
.search-box input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 60%;
    max-width: 300px;
}
.hero {
    position: relative;
    margin-top: 60px;
    text-align: center;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.mySlides img {
    width: 100%;
    vertical-align: middle;
}
.hero-content div{
    margin-top: 15px;
}
.hero-content {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-content h1{
    color:black;
}

.cta-button, .join-button {
    background-color: #ffcc00;
    border: none;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    transition:all background-color 0.3s ease;
    display: inline-block;
    font-weight: bold;
}
.cta-button:hover, .join-button:hover {
    background-color: #e6b800;
    box-shadow: 0px 6px 12px rgb(0,0,0,0.3);
    transform: translateY(-3px);
}
.slide-indicators {
    position: absolute;
    top: 50%;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dot {
    height: 10px;
    width: 10px;
    margin: 5 0px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}
.active, .dot:hover {
    background-color: #717171;
}
footer {
    background: none; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    z-index: 1000;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
.footer-content p {
    margin: 5px 0;
}
.links {
    margin: 10px 0;
}
.links a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
}
.links a:hover {
    color: #fff;
}
.social-media {
    margin-top: 10px;
}
.social-media a img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0.8s;
    filter: drop-shadow(0px 4px 6px rgba(0,0,0,0.3));
}
.social-media a img:hover {
    transform: scale(1.2);
    opacity: 1;
}