body {
    background-color: #c19a6b;
}

footer {
    text-align: center;
    margin-top: 600px;
}

#MenuForm{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    /* margin-bottom: 50px; */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}